---
import Link from "../Link.astro";
---

<footer
  class="container mx-auto flex flex-row justify-between mt-10 py-10 px-2"
>
  <Link href="https://www.jeshuahinostroza.com" target="_blank"
    >jeshuahinostroza</Link
  >

  <nav>
    <ul class="flex gap-x-2">
      <li><Link href="/">Home</Link></li>
      <li><Link href="/#contact">Contact Me</Link></li>
    </ul>
  </nav>
</footer>
