---
import Link from "../Link.astro";
---

<footer
  class="container mx-auto flex flex-col sm:flex-row justify-between mt-10 pt-10 pb-2 sm:py-10"
>
  <p class="flex">
    <span class="mr-2"> © 2024 </span>

    <Link href="https://www.jeshuahinostroza.com" target="_blank"
      >jeshuahinostroza</Link
    >. Casi todos los derechos reservados
  </p>

  <nav>
    <ul class="flex gap-x-2">
      <li><Link href="/">Home</Link></li>
      <li><Link href="/#contact">Contact Me</Link></li>
    </ul>
  </nav>
</footer>
