---
import Link from "../Link.astro";
---

<footer class="container mx-auto flex flex-col sm:flex-row justify-between mt-10 py-10">
  <span class="flex gap-x-2">
    © 2024 <Link href="https://jeshuahinostroza.com">jeshuahinostroza</Link>.
    Casi todos los derechos reservados
  </span>

  <nav>
    <ul class="flex gap-x-2">
      <li><Link href="/">Home</Link></li>
      <li><Link href="/#contact">Contact Me</Link></li>
    </ul>
  </nav>
</footer>
