<header class="sticky z-10 top-0 text-bold w-full">
  <div
    class="py-4 backdrop-blur rounded-full container mx-auto flex justify-between"
  >
    <div class=""></div>

    <nav>
      <ul>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </nav>
  </div>
</header>
