---
import Document from "../layouts/Document.astro";
---

<Document>
  <h1 class="text-3xl font-bold text-bold">Welcome</h1>

  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium omnis
    tempora vitae aliquam aliquid. Cum voluptates quae inventore repudiandae eos
    a quia eum. Porro excepturi ducimus rerum vitae vel! Repellendus.
  </p>
</Document>
