---
import Document from "../layouts/Document.astro";
import Badge from "@/components/Badge.astro";
import Link from "@/components/Link.astro";

import Projects from "@/components/Projects.astro";

import About from "@/components/About.astro";
import Contact from "@/components/Contact.astro";
import Experience from "@/components/Experience.astro";

---

<style>
	.init {
		min-height: calc(100vh - var(--header-height));
		min-height: calc(100dvh - var(--header-height));
	}
</style>

<Document>
	<section
		class="init flex flex-col justify-between max-w-5xl lg:max-w-6xl mx-auto px-2 md:px-6 py-6 md:py-24"
	>
		<div class="">
			<div>
				<h1 class="inline-block text-8xl font-bold text-bold">
					Hello, I'm Jeshua
				</h1>

				<div class="inline-block align-bottom md:mb-6 mt-2">
					<a
						target="_blank"
						rel="noopener"
						href="https://www.linkedin.com/in/jeshua-hinostroza/"
					>
						<Badge>Ready to work ;)</Badge>
					</a>
				</div>
			</div>

			<h2 class="text-4xl lg:text-5xl text-bold font-medium mb-6">
				+2 years experience. <span
					class="text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-500"
					>Developer</span
				> for the web.
			</h2>

			<p class="text-justify mt-1 text-2xl">
				Full-stack developer skilled in driving to production high-quality
				systems and UIs for the better user experience.
			</p>

			<Contact />
		</div>

		<div class="flex justify-center gap-x-4 items-end text-xl">
			<Link href="#projects"> Projects </Link>
			<Link href="#experience"> Experience </Link>
		</div>
	</section>

	<Experience />

	<section id="projects" class="w-full max-w-3xl lg:w-auto lg:container mx-auto my-5 mb-12 lg:px-2">
		<h2 class="text-bold font-medium text-4xl mb-6">Projects</h2>

		<Projects />
	</section>

	<About />
</Document>
