---
import Document from "../layouts/Document.astro";
import { PROJECTS } from "@/lib/const/projects";
---

<Document>
  <div class="container lg:max-w-32 mx-auto grid gap-8">
    {
      PROJECTS.map((project) => (
        <section id={project.id} class="flex justify-between max-h-96">
          <div class="">
            <h2 class="text-bold font-medium text-4xl mb-6">{project.name}</h2>

            <p>{project.description}</p>
          </div>

					<img class="h-full w-auto" src={project.image} alt="" />
        </section>
      ))
    }
  </div>
</Document>
