<section id="about" class="container mx-auto">
  <h2 class="text-bold font-medium text-4xl mb-6">About</h2>
  <div class="flex flex-col sm:flex-row gap-x-6">
    <div class="flex-[3]">
      <p>
        My name is Jeshua Hinostroza, and I'm a Full-stack developer driven by a
        <span
          class="text-transparent bg-clip-text bg-gradient-to-t from-red-500 to-indigo-500 from-30% to-90%"
          >fervent</span
        > curiosity for emerging technologies. My programming journey programming
        began at the age of 12, armed with a pirated game engine and a trusty old
        laptop (ah, the nostalgic charm!).
      </p>

      <p>
        I quickly discovered myself having an immense satisfaction each time I
        developed a key feature of a game, like walking, jumping, collisions,
        etc. I realized that I didn't want to just drag and drop
        low-code/no-code pieces to compose a game.
        <span
          class="text-transparent bg-clip-text bg-gradient-to-tr from-yellow-500 to-yellow-100/80"
        >
          I wanted to know how it works, from the bones.
        </span>
      </p>

      <p>
        Now, I
        <i class="text-cyan-400">
          drive to production high-quality systems and UIs for the better user
          experience.
        </i>
      </p>
    </div>

    <picture class="flex-1 lg:max-w-48 aspect-square h-min mx-32 sm:m-0">
      <img
        class="h-full w-full object-cover"
        src="/face.png"
        alt="A pixeled face of a man with a cope"
      />
    </picture>
  </div>
</section>

<style>
  p {
    margin-bottom: 1rem;
  }
</style>
