---
import ShinyOuter from "./ShinyOuter.astro";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div class={`relative overflow-hidden group rounded-lg ${className}`}>
  <div class="grid grid-rows-[minmax(0,1fr)] w-full h-full">
		<ShinyOuter />

    <div class="grid grid-rows-[minmax(0,1fr)] m-px bg-gray-800 rounded-lg overflow-hidden">
      <slot />
    </div>
  </div>
</div>
