---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div class={`relative overflow-hidden group rounded-lg ${className}`}>
  <div class="grid grid-rows-[minmax(0,1fr)] w-full h-full">
    <div
      class="-z-10 absolute inset-[-200%] animate-[spin_2s_linear_infinite] opacity-0 group-hover:opacity-100 transition-all duration-300 bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
    >
    </div>

    <div class="grid grid-rows-[minmax(0,1fr)] m-px bg-gray-800 rounded-lg overflow-hidden">
      <slot />
    </div>
  </div>
</div>
