<div
  class="-z-10 absolute inset-[-200%] animate-[spin_2s_linear_infinite] opacity-0 group-hover:opacity-100 transition-all duration-300 bg-[conic-gradient(from_90deg_at_50%_50%,var(--color-1)_var(--p1),var(--color-2)_var(--p2),var(--color-3)_var(--p3))]"
>
</div>

<style>
div {
	--color-1: theme('colors.cyan.500');
	--p1: 0%;

	--color-2: theme('colors.blue.500');
	--p2: 50%;

	--color-3: theme('colors.cyan.500');
	--p3: 100%;
}
</style>
