---
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

import "../styles/theme/colors/electric-night.scss";

import "@fontsource/space-grotesk/300.css";
import "@fontsource/space-grotesk/400.css";
import "@fontsource/space-grotesk/500.css";
import "@fontsource/space-grotesk/600.css";
import "@fontsource/space-grotesk/700.css";

import Toast from "@/components/Toast.tsx";
---

<html lang="en" class="h-full overflow-hidden">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<meta name="description" content="Jeshua Hinostroza's personal portfolio. Full-Stack web developer with +2 years of experience" />
    <title>Portfolio</title>
  </head>
  <body
    class="electric-night relative bg-slate-950 text-soft h-full grid grid-rows-[auto_1fr_auto] overflow-auto"
  >
    <div
      class="-z-10 fixed bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"
    >
    </div>
    <Header />

    <main>
      <slot />
    </main>

		<Footer />

    <Toast client:load />
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Space Grotesk", sans-serif;
  }
</style>

<style is:global>
  [id] {
    scroll-margin-top: 60px;
  }
</style>
