---
import Header from "@/components/layout/Header.astro";
import "../styles/theme/colors/electric-night.scss";
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body
    class="electric-night text-soft bg-background grid grid-rows-[auto_1fr_auto] h-full"
  >
    <Header />

    <main>
      <slot />
    </main>

    <footer></footer>
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: system-ui, sans-serif;
  }
</style>
